<div class="allbooks d-flex justify-content-between flex-column mt-3">
    <div class="d-flex justify-content-end mb-3 text-grey">
        <h6>Result: <%= books.length%> Books
        </h6>
    </div>
    <% if(Object.keys(books).length !=0){%>
        <div class="d-flex justify-content-center align-items-center row">
            <% for(let book of books){ %>
                <div class="Single_Book card col-sm-6 col-md-3 col-xl-2 m-2 mb-3 mx-3 p-0 border-start-1 shadow-5-strong"
                    style="height: 25rem;">
                    <a href="/books/<%=book.id %>"
                        class="d-flex justify-content-center h-60 bg-success-subtle bg-image hover-zoom">
                        <img src="<%=book.images %>" class="card-img-top img-fluid rounded " alt="<%=book.title %>"
                            style="object-fit: contain;">

                    </a>
                    <div class="card-body p-0 m-0 h-20">
                        <h6 class="card-title p-3 m-0">
                            <%=book.title %>
                        </h6>
                    </div>
                    <div class="card-body px-3 pt-0 h-20">
                        <p class="pb-3">Condition: <%= book.condition %>
                        </p>
                        <div class="d-flex flex-row justify-content-between">
                            <% if (book.availability){%>
                                <p class="btn btn-success">Avaliable</p>
                                <% }else{%>
                                    <p class="btn btn-danger">Not Avaliable</p>
                                    <% }%>
                                        <input type="text" name="id" value="<%=book.id%>" class="d-none">
                                        <button class="border-0 bg-white">
                                            <% if (book.issaved){%>
                                                <i class="fa-solid fa-bookmark fa-2xl" style="color: yellow;"></i>
                                                <% }else{%>
                                                    <i class="fa-regular fa-bookmark fa-2xl"
                                                        style="color: darkgrey;"></i>
                                                    <% }%>
                                        </button>
                        </div>
                    </div>
                </div>
                <% } %>
        </div>
        <%}else{%>
            <div class="d-flex flex-column justify-content-center align-items-center w-100" style="height: 300px;">
                <img src="../img/notfound.png" alt="not found" class="w-25 img-fluid">
                <h3>
                    No books found...!
                </h3><br>
                <p>Try search any other word.</p>
            </div>
            <%} %>
</div>